@model IEnumerable<LGTMClient.ApiModels.ProductStock>

@{
    ViewData["Title"] = "Products Stock";
}

<div class="text-center">
    <h1 class="display-4">LGTM - Looks Good To Me</h1>
    <p>Product Stocks</p>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
        </tr>
    }
    </tbody>
</table>